.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0px;
}

.grid1 {
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
}


.bigTitle {
  font-size: 58px;
}

.paragraphText {
  font-size: 16px
}

.button {
  border-radius: 24px;
  padding: 15px;
  margin-right: 20px;
  border-style: none;
}

.firsthalf {
  background-color: #f7f7f7;
}

